[Unit]
Description="HashiCorp Consul - A service mesh solution"
Documentation=https://www.consul.io/
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty={{ consul_configd_path }}/consul.hcl

[Service]
User={{ consul_user }}
Group={{ consul_group }}
PIDFile={{ consul_run_path }}/consul.pid
ExecStart={{ consul_bin_path }}/consul agent -config-dir={{ consul_configd_path }}/ -pid-file={{ consul_run_path }}/consul.pid
ExecReload={{ consul_bin_path }}/consul reload
ExecStop={{ consul_bin_path }}/consul leave
KillMode=process
KillSignal=SIGTERM
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target